<p>Welcome <%= current_user.name %>. Here is your watched list! <a href="/animes/new"> Add an anime to your list</a></p>
<br>
<hr>
<% if current_user.animes.empty?%>
  Your list is empty! Add an anime to your list to get started!
  <hr>
  <% else %>
<% @list.each do |anime| %>
<% if anime.user == current_user %>
  <p><%= anime.title %> | <%= anime.rating %> | <%= anime.comments %> </p>
    <p><a href="/animes/<%= anime.id %>/edit">Edit</a></p>
    <form action="/animes/<%= anime.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
      <br>
      <hr>
    </form>
  <% end %>
  <% end %>
  <% end %>
  
  <br>

<p>Check out other anime titles user's have added to their lists!</p>
<% @list.each do |anime| %>
  <% if anime.user != current_user %>
  <p><%= anime.title %> from <%=anime.user.name %>'s list.</p>
  <% end %>
<% end %>
  
  
  <hr>
   <p><a href="/users/logout">Logout</a></p>